body {
  font-family: Arial;
  margin: 0;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: gray;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
}